/* ------ navbar button for overlay ------ */
#toggle-btn{
    border: none;
}
/*
nav {
    background: #28A745;
    position: fixed;
}*/
#myBtn{
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 8px;
}
.test{
    background: black;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}